body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #3b185d;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    margin: 0;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.product-list, .add-product {
    background-color: white;
    border-radius: 8px;
    padding: 1rem;
    width: 45%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-list h2, .add-product h2 {
    text-align: center;
}

#products {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.product {
    background-color: #550a46;
    color: white;
    border-radius: 8px;
    overflow: hidden;
    width: 150px;
    text-align: center;
}

.product img {
    width: 100%;
    height: auto;
}

.product p {
    margin: 0.5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

form input, form button {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}

form button {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
}

form button:reset {
    background-color: #6c757d;
}
